{
    name: "player",
    start_state: "Left",
    frames: [
        (
            name: "Left",
            start_row: 1,
            end_row: Some(1),
            time_secs: 0.25,
        ),
        (
            name: "Right",
            start_row: 3,
            time_secs: 1.0,
        ),
        (
            name: "Top",
            start_row: 0,
            time_secs: 1.0,
        ),
        (
            name: "Bottom",
            start_row: 2,
            time_secs: 1.0,
        ),
    ],
    rows: 4,
    columns: 6,
    cell_size: (64, 64),
}
